@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*------------------------------------------------------PAGE------------------------------------------------------*/
/*---------------------------------------SECTION---------------------------------------*/
/*-------------------------DEVICE-------------------------*/


/*------------------------------------------------------GENERAL------------------------------------------------------*/
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-internago-blue: #0066AA;
  --dark-internago-blue: #00446E;
  --dark-blue: #7CB2F2;
  --light-blue: #C5E0FC;
  --dark-grey: #4E4E4E;
  --white: #ffffff;
  --main-font: 'Source Sans Pro', sans-serif;
  --xl-gap: 17%;
  --big-gap: 11%;
  --medium-gap: 5rem;
  --small-gap: 2.1rem;
  --xs-gap: 1.3rem;
  --xxs-gap: .6rem;
  --fontSize--1: 0.5rem;
  --fontSize-0: 0.7rem;
  --fontSize-1: 0.833rem;
  --fontSize-2: 1.12rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
}

.hide {
  display: none;
}

body  {
  font-family: var(--main-font);
  width: 100%;
}



h1 {
  font-size: var(--fontSize-5);
  color: var(--dark-internago-blue);
  font-weight: 600;
  

}

h2 {
  font-size: var(--fontSize-4);
  color: var(--dark-internago-blue);
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: var(--fontSize-3);
  color: var(--dark-internago-blue);
}

h4 {
  font-size: var(--fontSize-2);
  color: var(--dark-internago-blue);
  font-weight: 600;
}

h5 {
  font-size: var(--fontSize-2);
  color: var(--dark-internago-blue);
  font-weight: 600;
}

h6 {
  font-size: var(--fontSize-0);
  color: var(--dark-internago-blue);
  font-weight: 600;
}

p {
  color: var(--dark-grey);
  font-size: var(--fontSize-2);
  line-height: 1.8;
  letter-spacing: 0.004em;
}

.card-p {
  font-size: var(--fontSize-1);
}

.cta-btn {
  background-color: var(--dark-internago-blue);
  color: var(--white);
  border: 2px solid var(--dark-internago-blue);
  border-radius: 50px;
  padding: 0.65rem var(--xs-gap);
  transition: background-color 0.4s ease;
  text-decoration: none;
  font-weight: 600;
  outline:none;
  position: relative;
}

.cta-btn:hover {
  background-color: var(--white);
  color: var(--dark-internago-blue);
}

.cta-btn:active {
  top: 2px;
}

.neutral-btn {
  border: 2px solid var(--dark-internago-blue);
  border-radius: 50px;
  padding: 0.65rem var(--xs-gap);
  transition: background-color 0.4s ease;
  color: var(--dark-internago-blue);
  background-color: var(--white);
  font-weight: 600;
  text-decoration: none;
  outline:none;
  position: relative;
}

.neutral-btn:hover {
  background-color: var(--dark-internago-blue);
  color: var(--white);
}

.neutral-btn:active {
  top: 2px;
}

img {
width: 100%;
height: auto;
}

/*-------------------------GENERAL MOBILE-------------------------*/
@media only screen and (max-width: 600px){
  p {
    font-size: var(--fontSize-1);
  }

  .cta-btn {
    font-size: var(--fontSize-1);
    background-color: var(--dark-internago-blue);
    color: var(--white);
    border: 2px solid var(--dark-internago-blue);
    border-radius: 50px;
    padding: 0.65rem var(--xs-gap);
 
  }
  .neutral-btn {
    font-size: var(--fontSize-1);
    border: 2px solid var(--dark-internago-blue);
    border-radius: 50px;
    padding: 0.65rem var(--xs-gap);
    
  }
}


/*---------------------------------------LAYOUT COMPONENT---------------------------------------*/
/*-------------------------NAV-------------------------*/
.hamburger-menu {
  display: none;
}

.mobile-menu {
  display: none;
}

nav {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--xs-gap) var(--big-gap);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav li a {
  color: var(--dark-internago-blue);
  text-decoration: none;
  font-weight: 600;
}

.desktop-menu {
  display: block;
}

.desktop-menu li {
  display: inline-block;
  margin: auto 0 auto var(--small-gap);
  height: 27.2px;
  color: var(--dark-internago-blue);
  font-weight: 600;
}

.toggle-icon {
  position: relative;
  top: 7px;
  width: 15px;
  left: 5px;
}

.what-we-offer {
  display: inline-block;
  position: relative;
}

.what-we-offer-listitem {
  cursor: pointer;
}

.what-we-offer:hover .what-we-offer-submenu {
  height: 150px;
  opacity: 1;
}

.what-we-offer-submenu {
  display: inline-block;
  position: absolute;
  left: 0;
  top: var(--small-gap);
  background-color: rgba(255,255,255,0.9);
  padding: 0 var(--small-gap) var(--small-gap);
  width: 200px;
  border-radius: 25px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}

.what-we-offer-submenu li{
  display: block;
  margin-left: 0;
  padding-top: var(--small-gap);
  height: auto;
}

.internago-img {
  width: 10rem;
}


/*-------------------------FOOTER-------------------------*/
footer {
  color: var(--white);
  background-color: var(--dark-blue);
  display: flex;
  padding: var(--medium-gap) var(--big-gap);
  justify-content: space-between;
  width: 100%;
}

.footer-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-icons  {
  display: inline-block;
  margin-bottom: 1.4rem;
  
}

.footer-icons a {
  margin-right: 1.4rem;
}

.footer-icons svg {
  width: 1.6rem;
}

.copyright-text {
  font-size: var(--fontSize-0);
  color: var(--white);
}

.footer-right {
  text-align: right;
}

.footer-right p {
  margin-bottom: var(--small-gap);
  font-size: var(--fontSize-1);
  color: var(--white);
}

.footer-right p:last-child {
  margin-bottom:0;
}


/*-------------------------NAVBAR BELOW DESKTOP-------------------------*/
@media only screen and (max-width: 1200px) {
  nav {
    overflow: visible;
  }

  nav li a {
    font-weight: 400;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    top: 75px;
    right: 0px;
    background-color: rgba(255,255,255,0.9);
    padding: var(--small-gap) 0;
    width: 0px;
    border-bottom-left-radius: 25px;
    transition: 1s;
    overflow-x: hidden;
    white-space: nowrap;
  }

  .mobile-menu li{
    display: block;
    margin-left: 0;
    margin-bottom: var(--xs-gap);
    font-size: var(--fontSize-2);
    height: 28px;
    word-wrap: none;
  }

  .hamburger-menu {
    display: inline-block;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-menu div {
    height: 4px;
    width: 100%;
    background-color: var(--dark-internago-blue);
    border-radius: 20px;
  }
  
  .internago-img {
    width: 10rem;
  }
}

/*-------------------------NAVBAR MOBILE-------------------------*/
@media only screen and (max-width: 600px){
  .internago-img {
    width: 7rem;
  }
}

/*-------------------------NAVBAR ANIMATIONS-------------------------*/
@keyframes line1ToCross {
  0% {transform: translateY(0px) rotate(0deg);}
  50% {transform: translateY(13px) rotate(0deg);}
  100% {transform: translateY(13px) rotate(45deg);}
}

@keyframes line2ToCross {
  0% {opacity: 1;}
  70% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes line3ToCross {
  0% {transform: translateY(0px) rotate(0deg);}
  50% {transform: translateY(-13px) rotate(0deg);}
  100% {transform: translateY(-13px) rotate(-45deg);}
}

@keyframes line1ToHamburger {
  0% {transform: translateY(13px) rotate(45deg);}
  50% {transform: translateY(13px) rotate(0deg);}
  100% {transform: translateY(0px) rotate(0deg);}
}

@keyframes line2ToHamburger {
  0% {opacity: 0;}
  95% {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes line3ToHamburger {
  0% {transform: translateY(-13px) rotate(-45deg);}
  50% {transform: translateY(-13px) rotate(0deg);}
  100% {transform: translateY(0px) rotate(0deg);}
}

/*-------------------------FOOTER MOBILE-------------------------*/
@media only screen and (max-width: 600px){
  footer {
    color: var(--white);
    background-color: var(--dark-blue);
    display: flex;
    padding: var(--medium-gap) var(--big-gap);
    justify-content: space-between;
    width: 100%;
  }

  .footer-right p{
    font-size: var(--fontSize-0);
  }
  
  .copyright-text {
    font-size: var(--fontSize--1);
  }
}


/*---------------------------------------CTA COMPONENT---------------------------------------*/
.cta-section {
  height: 29rem;
  background-image: url("images/graphics/wave.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-section p {
  width: 34rem;
  margin: var(--small-gap) auto;
}

.cta-section .cta-btn {
  display: inline-block;
}

/*-------------------------CTA MOBILE-------------------------*/
@media only screen and (max-width: 1200px){
  .cta-section {
    background-image: url("images/graphics/wave-mobile.png");
  }
  
  .cta-section p {
    width: 70%;
  }
}


/*---------------------------------------INTRO SECTION COMPONENT---------------------------------------*/
.introduction-section {
  margin: var(--small-gap) var(--big-gap);
  text-align: center;
}

.introduction-section p {
  max-width: 50rem;
  margin: var(--small-gap) auto;
}


/*---------------------------------------MARKETS COMPONENT---------------------------------------*/
.markets {
  margin: var(--big-gap);
}

.markets-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.markets-left {
 flex-basis: 45%;
 display:flex;
 flex-direction: column;
 margin-top: var(--medium-gap);
 margin-right: var(--medium-gap);
}

.markets-left p {
  margin-top: var(--small-gap);
}

.markets-left a {
  width: 14.6rem;
  text-align: center;
  margin-top: var(--small-gap);
}

.markets-right img{
 width: 90%;
}

/*-------------------------MARKETS BELOW DESKTOP-------------------------*/
@media only screen and (max-width: 1100px){
  .markets {
    margin: 0; 
  }
  
  .markets-container {
    display: block;
    gap: var(--big-gap);
  }
  
  .markets-left {
    display: block;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: var(--medium-gap);
  }
  
  .markets-left p {
    margin-top: var(--small-gap);
    margin-bottom: var(--small-gap);
  }
  
  .markets-left a {
    width: 14.6rem;
    text-align: center;
    margin-top: var(--small-gap);
  }
  
  .markets-right {
    justify-content: center;
    text-align: center;
    margin-top: var(--medium-gap);
  }

  .markets-right img{
   width: 40%;
  }
}

/*-------------------------MARKETS MOBILE-------------------------*/
@media only screen and (max-width: 600px){
  .markets-left h2{
   font-size: var(--fontSize-3);
  }
}

/*------------------------------------------------------HOME------------------------------------------------------*/
/*---------------------------------------HERO---------------------------------------*/
.hero {
  display: inline-block;
  padding: var(--big-gap) var(--medium-gap) var(--medium-gap) var(--big-gap);
  justify-content: center;
}

.hero-left {
  width: 36%;
  display: inline-block;
  margin-top: var(--small-gap);
}

.hero-left p {
  display: inline-block;
}

 .hero-left a  {
  margin-top: var(--small-gap);
  width: 8.9rem;
  text-align: center;
  display: inline-block;
}

.hero-graphic {
  display: inline-block;
  width: 55%;
  margin-left: var(--medium-gap);
  vertical-align: top;
}

.contactus-btn {
  display: none;
}

/*-------------------------HERO BELOW DESKTOP-------------------------*/
@media only screen and (max-width: 1200px) {
  .hero-left {
    margin-top: 0;
  }

  .hero-left a  {
    margin-top: 15px;
  }  
} 

@media only screen and (max-width: 1100px) {
  .hero {
    display: block;
    padding: var(--big-gap) var(--small-gap) var(--medium-gap) var(--small-gap);
    justify-content: center;
    text-align: center;
  }

  .hero-left {
    width: 80%;
    margin-top: var(--small-gap);
    align-content: center;
    text-align: center;

  }

  .hero-left p {
    display: block;
  }

  .hero-left a  {
    margin-top: var(--small-gap);
    gap: 5%;
    width: 8.9rem;
    text-align: center;
    display: inline-block;
  }

  .hero-graphic {
    align-content: center;
    display: inline-block;
    width: 85%;
    margin-left: 0;
    margin-top: var(--medium-gap);
  }

  .contactus-btn {
    display: inline-block;
    margin-left: 32%;
  }
}
/*-------------------------HERO MOBILE -------------------------*/
@media only screen and (max-width: 600px) {

  .hero {
    padding: var(--big-gap) 0px var(--small-gap) 0px;
    margin-top: var(--small-gap);
  }
  
  .contactus-btn {
      margin-left:5%;
  }
  
  .hero-left h1{
    font-size: var(--fontSize-4);
  }

  .hero-graphic {
    margin-left: 0px;
    width: 85%;
   
  }
}


/*---------------------------------------CLIENTS---------------------------------------*/

.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-left: var(--big-gap);
  margin-right: var(--big-gap);
  gap: var(--medium-gap);
}

.clients-img {
  width: 8.5rem;
  height: auto;
}

/*-------------------------CLIENTS BELOW DESKTOP -------------------------*/
@media only screen and (max-width: 768px) {

.clients{
  display:none;
}

}
/*---------------------------------------SERVICES---------------------------------------*/
.services-homepage {
  display: flex;
  flex-direction: column;
  margin-top: var(--big-gap);
  

}
.services-up,
.services-down {
  display: flex;
  flex-direction: row;
}
.services-down {
  margin-top: var(--big-gap);
}


.portal-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: var(--medium-gap);
  margin-right: var(--big-gap);

}

.services-text {
 display: flex;
 flex-direction: column;
 margin-left: var(--big-gap);
 justify-content: center;
 margin-right: var(--medium-gap);
   width: 50%;
}

.portal-text h2,
.services-text h2 {
  font-size: var(--fontSize-4);
}

.portal-text p,
.services-text p {
  margin-top: var(--small-gap);
  text-align: left;
}

.portal-text a,
.services-text a {
  margin-top: var(--small-gap);
  width: 8.3rem;
  text-align: center;
}


/*-------------------------SERVICES BELOW DESKTOP-------------------------*/
@media only screen and (max-width: 1100px){
  .services-homepage {
    display: block;
    margin-top: var(--medium-gap);  
  }
  
  .services-up{
    justify-content: center;
    flex-direction: column-reverse;
  }

  .services-down {
    display: block;
    margin-top: var(--medium-gap);
  }

  .portal-graphic img,
  .services-graphic img {
    width: 40rem;
  }
  .portal-graphic{
    margin-top: var(--medium-gap);
    text-align: left;

  }
  .services-graphic{
    margin-top: var(--medium-gap);
    text-align: right;
  }
  .portal-text {
    text-align: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .portal-text h2,
  .services-text h2 {
    font-size: var(--fontSize-4);
  }
  
  .portal-text p,
  .services-text p {
    margin-top: var(--small-gap);
    text-align: center;
    margin-bottom: var(--small-gap);
  }
  
  .portal-text a,
  .services-text a {
    margin-top: var(--medium-gap);
    width: 8.3rem;
    text-align: center;
  }
  
  .services-text {
    text-align: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}


/*-------------------------SERVICES TABLET-------------------------*/
@media only screen and (max-width: 900px){
  .portal-graphic img,
  .services-graphic img {
    width: 80%;
  }

  
}


/*-------------------------SERVICES MOBILE-------------------------*/
@media only screen and (max-width: 600px){
  .portal-text p,
  .services-text p {
    text-align: center;
  }

  .portal-text h2,
  .services-text h2 {
    font-size: var(--fontSize-3);
   
  }

  .portal-graphic {
      text-align: left;
  }
  .portal-graphic img,
  .services-graphic img {
    width: 75%;
  }
}


/*---------------------------------------WHY INTERNAGO---------------------------------------*/
.why-internago {
  margin: var(--big-gap) var(--big-gap);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.why-internago-cards-wrapper {
  margin-top: var(--medium-gap);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--big-gap);
  grid-row-gap: var(--medium-gap);
  justify-content: center;
}

.icon-card {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  padding: var(--small-gap);
}

.icon-card img {
  height: auto;
  width: 8rem;
}

.icon-card p {
  font-size: var(--fontSize-1);
  width: 10rem;
}

/*-------------------------WHY INTERNAGO TABLET-------------------------*/

 @media only screen and (max-width: 900px){
  .why-internago-cards-wrapper {
    margin-top: var(--medium-gap);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--big-gap);
    grid-row-gap: var(--medium-gap);
    justify-content: center;
  }
}

/*-------------------------WHY INTERNAGO MOBILE-------------------------*/
  @media only screen and (max-width: 600px){
    .why-internago {
      margin: var(--big-gap) var(--big-gap);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .why-internago h2{
      font-size: var(--fontSize-3);
    }

    .why-internago-cards-wrapper {
      margin-top: var(--medium-gap);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--small-gap);
      justify-content: center;
    }

    .icon-card {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 21px;
      padding: var(--xxs-gap);
    }
  
    .icon-card img {
      width: 4.5rem;
    }
    
    .icon-card p {
      font-size: var(--fontSize-0);
      width: 8rem;
    }
  }


/*---------------------------------------HOW IT WORKS---------------------------------------*/
.how-it-works-section {
  margin: var(--xl-gap) var(--xl-gap);
  display: flex;
  flex-direction: column;
}

.how-it-works-section h2{
  text-align: center;
}

.how-it-works-section h3 {
  margin-bottom: var(--small-gap);
}

.analyse,
.digitalize,
.optimize {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--big-gap);
  position: relative;
  
}

.digitalize {
  justify-content: flex;
  flex-direction: row-reverse;
}

.txt-block {
  margin-left: var(--small-gap);
  margin-right: var(--small-gap);
}


/*-------------------------HOW IT WORKS BELOW DESKTOP-------------------------*/
@media only screen and (max-width: 1100px){
  .how-it-works-section {
    margin: var(--xl-gap) var(--xl-gap);
    display: flex;
  }
  
  .how-it-works-section h2{
    text-align: center;
  }
  
  .how-it-works-section h3 {
    margin-bottom: var(--small-gap);
  }

  .analyse,
  .digitalize,
  .optimize {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: var(--big-gap);
    position: relative;
  }

  .txt-block {
    margin-left: var(--small-gap);
    margin-right: var(--small-gap);
  }
}

/*-------------------------HOW IT WORKS MOBILE-------------------------*/
@media only screen and (max-width: 600px){
  .how-it-works-section h3 {
    margin-top: var(--small-gap);
    margin-bottom: var(--small-gap);
  }  
}

/*------------------------------------------------------SERVICES PAGE------------------------------------------------------*/
/*---------------------------------------ADVISORY CARDS COMPONENT---------------------------------------*/
.advisory-cards-wrapper {
  padding: var(--medium-gap) var(--big-gap);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 6vw;
}

.advisory-card {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    padding: var(--small-gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.advisory-card-img-wrapper {
  width: 8rem;
  margin-bottom: var(--small-gap);
}

.advisory-card ul {
  list-style: none;
  color: var(--dark-grey);
}

.advisory-card li {
  font-size: var(--fontSize-2);
  margin-top: var(--xs-gap);
}






/*---------------------------------------ADVISORYINCORP COMPONENT---------------------------------------*/
 /*-------------------------ADVISORYINCORP DESKTOP-------------------------*/
.advisoryincorp {
  margin: 0 var(--big-gap) var(--big-gap) var(--big-gap);
}

.complex {
  margin-top: var(--big-gap);
}
.complexleft {
display: inline-block;
width: 40%;
vertical-align: top;

}

.complexright {
display: inline-block;
width: 50%;
margin-left: var(--medium-gap);
}

.complexleft p{
    margin-top: var(--small-gap);
}

.complexheading {
  margin-top: 5px;
}

.professionals {
  margin-top: var(--small-gap);
}

.professionalsright {
display: inline-block;
width: 45%;
vertical-align: top;
margin-top: var(--medium-gap);

}

.professionalsleft {
display: inline-block;
width: 40%;
margin-right: var(--medium-gap);
margin-top: var(--medium-gap);

}

.professionalsright p {
  margin-top: var(--small-gap);
}

.professionalsheading {
  margin-top: 5px;
}

/*-------------------------ADVISORYINCORP UNDER DESKTOP-------------------------*/

@media only screen and (max-width: 1100px){
    
  .complex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .complexleft {
   width: 100%;
    display: block;

  }

  .complexright {
    width: 70%;
    display: block;
    margin-left: 0;
    margin-top: var(--medium-gap);
  }

  .professionals {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
 
  .professionalsright {
    width: 100%;
    display: block;
  }

  .professionalsleft {
    width: 70%;
    display: block;
    margin-right: 0;
  }
}

/*-------------------------ADVISORYINCORP MOBILE-------------------------*/
@media only screen and (max-width: 992px){

.complexright {
  margin-top: var(--small-gap);
  width: 100%;
}
.professionalsleft {
  margin-top: var(--small-gap);
  width: 100%;
}

.professionalsright {
  margin-top: var(--small-gap);

}

.professionalsheading {
  margin-top: 0;
}
}

/*---------------------------------------ACCOUNTING ICONS COMPONENT---------------------------------------*/
.accounting-icons {
  text-align: center;
}

.accounting-icons-wrapper {
  text-align: center;
  margin: var(--medium-gap) auto;
  max-width: 1000px;
}

.accounting-icon-box {
  width: 17rem;
  height: 280px;
  padding: var(--small-gap);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.accounting-icon-box img {
  width: 8rem;
}

.accounting-icons-cta{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--big-gap);
}


/*---------------------------------------QUOTE COMPONENT---------------------------------------*/
.quotes {
  text-align: center;
  margin-bottom: var(--big-gap);
}

.quote-box {
  background-color: #F2F8FF;
  max-width: 38%;
  min-width: 18.75rem;
  margin: var(--small-gap);
  padding: var(--small-gap) var(--small-gap) var(--small-gap) var(--medium-gap);
  border-radius: 40px;
  display: inline-block;
  position: relative;
}

.quote-box p {
  text-align: left;
}

.quote-icon {
  width: 4.5rem;
  position: absolute;
  left: -2.1rem;
  top: 40%;
}

.author {
  margin-top: var(--small-gap);
}

.author, .company {
  color: var(--dark-internago-blue);
  font-weight: 600;
}

/*-------------------------QUOTES MOBILE-------------------------*/
@media only screen and (max-width: 600px) {
  .quote-box p {
    font-size: var(--fontSize-1);
  }
} 

/*------------------------------------------------------PAYROLL PORTAL PAGE------------------------------------------------------*/
/*---------------------------------------WHAT WE OFFER HERO---------------------------------------*/
.what-we-offer-hero {
  display: inline-block;
  padding: var(--big-gap) var(--medium-gap) var(--medium-gap) var(--big-gap);
  justify-content: center;
  align-items: center;
}

.what-we-offer-hero-text {
  width: 50%;
  display: inline-block;
  padding-right: var(--medium-gap);
  vertical-align: middle;
}

.what-we-offer-hero-text  p {
  display: inline-block;
}

.what-we-offer-hero-graphic {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  justify-content: center;
}

/*-------------------------WHAT WE OFFER HERO  BELOW DESKTOP-------------------------*/

@media only screen and (max-width: 1100px) {
  .what-we-offer-hero {
    display: block;
    padding: var(--big-gap) var(--small-gap) var(--medium-gap) var(--small-gap);
    justify-content: center;
    align-items: center;
  }

  .what-we-offer-hero-text {
    margin-top: var(--small-gap);
    width: 80%;
    text-align: center;
    align-content: center;
    padding-right: 0;
  }
  .what-we-offer-hero-text p {
    display: block;
  }

  .what-we-offer-hero-graphic{
    display: inline-block;
    width: 80%;
    align-content: center;
    margin-top: var(--medium-gap);
    vertical-align: top;
  }

}
/*-------------------------WHAT WE OFFER MOBILE-------------------------*/


@media only screen and (max-width: 600px){
  .what-we-offer-hero {
    display: block;
    padding: var(--big-gap) 0px var(--small-gap) 0px;
    justify-content: center;
    text-align: center;
  }
  .what-we-offer-hero-text  {
    width: 85%;
    margin-top: var(--medium-gap);
    align-content: center;
    text-align: center;

  }

  .what-we-offer-hero-text p {
    display: block;
  }
  
  
  .what-we-offer-hero-text h1 {
    font-size: var(--fontSize-4);
    margin-bottom: var(--small-gap);
  }

  .what-we-offer-hero-graphic {
    align-content: center;
    display: inline-block;
    margin-top: var(--small-gap);
    margin-left: 0px;
    width: 85%;
  }

}

/*---------------------------------------PAYROLL PORTAL MANAGEMENT COMPONENT---------------------------------------*/
.payroll-management {
  text-align: center;
}

.payroll-management-cards-wrapper {
  text-align: center;
  margin: var(--medium-gap) auto;
  max-width: 1000px;
}

.payroll-icon-card {
  width: 15rem;
  height: 250px;
  padding: var(--xs-gap);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.payroll-icon-card img {
  width: 8rem;
}

.payroll-management-cta{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--big-gap);
}

/*-------------------------PAYROLL MANAGEMENT MOBILE-------------------------*/

@media only screen and (max-width: 600px){

}

/*---------------------------------------SHAREDOC COMPONENT---------------------------------------*/
.share-doc{
  align-items: center;
  display: flex;
}

.sharedoc-left{
  align-items: center;
  flex-direction: column;
  margin-left: var(--big-gap);
  justify-content: center;
  margin-right: var(--small-gap); 
}

.sharedoc-left p {
  margin-top: var(--small-gap);
  margin-bottom: var(--small-gap);
}

.sharedoc-left a {
  margin-top: var(--small-gap);
}

.sharedoc-left span {
  font-weight: 600;
  color: var(--dark-internago-blue);
}

.sharedoc-right {
  justify-content: center; 
}

.sharedoc-right img{
  width: 80%;
}


/*------------------------------------------------------BLOG OVERVIEW------------------------------------------------------*/
.form-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 6vw;
  margin: 10rem var(--big-gap) var(--medium-gap);
}

.filter-form {
  padding: 0.9rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.filter-label {
  color: var(--dark-grey);
}

.filter-input {
  border: none;
  color: var(--dark-grey);
  background-color: var(--white);
}

.filter-input:focus {
  outline: none;
}

.overview-section {
  padding: 0 var(--big-gap) var(--big-gap);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 6vw;
}

.blog-card {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  padding: var(--small-gap);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-card h3 {
  font-weight: 400;
  font-size: var(--fontSize-2);
  margin-bottom: 0.6rem;
}

.blog-card h3 a {
  color: var(--dark-internago-blue);
  text-decoration: none;
}

.blog-card p {
  margin-top: var(--xs-gap);
  font-size: var(--fontSize-1);
}

.blog-card .img-wrapper {
  overflow: hidden;
  height: 7rem;
  width: 100%;
  background-color: var(--light-internago-blue);
  margin-bottom: var(--xs-gap);
}

.blog-card img {
  width: 100%;
}

.blog-card .overview-taglist {
  list-style-type: none;
  display: inline-block;
}

.overview-taglist li {
  display: inline-block;
  margin-left: 8px;
}

.overview-taglist a {
  color: var(--light-internago-blue);
  text-decoration: none;
}

.overview-taglist a:hover {
  color: var(--dark-internago-blue)
}


.blog-card .read-more {
  margin-top: var(--xs-gap);
  text-decoration: none;
  color: var(--light-internago-blue);
  font-weight: 600;
}

.blog-card .read-more:hover {
  color: var(--dark-internago-blue);
}

.view-more-wrapper {
  margin-bottom: var(--medium-gap);
  text-align: center;
}
.view-more-wrapper .view-more-btn {
  margin-right: var(--small-gap);
}
.all-posts-btn-wrapper {
text-align: right;
}
.view-all-btn {
padding: 0.65rem var(--xs-gap);
font-size: var(--fontSize--2);
border-radius: 0.75rem;
background-color: var(--white);
color: var(--dark-grey);
border: none;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
outline:none;
position: relative;
}
.view-all-btn:hover {
background-color: var(--dark-internago-blue);
color: var(--white);
transition: background-color 0.4s ease;
}
.view-all-btn:active {
  top: 2px;
}

/*------------------------------------------------------ALL BLOG POSTS------------------------------------------------------*/
.all-posts-wrapper {
  margin-top: 5.5rem;
  padding: var(--medium-gap) var(--big-gap);
}

.all-posts-wrapper h2 {
  margin-bottom: var(--small-gap);
}

.all-posts-table th{
  text-align: left;
  padding-bottom: 0.8rem;
  color: var(--dark-internago-blue);
  font-size: var(--fontSize-3);
  font-weight: 600;
}

.all-posts-table td{
  padding-bottom: 0.7rem;
  padding-right: 1rem;
  vertical-align: top;
}

.all-posts-table a {
  text-decoration: none;
  color:var(--dark-grey);
}

.all-posts-table a:hover {
  color:var(--light-internago-blue);
}

.all-posts-list a {
  color:var(--light-internago-blue);
}

.all-posts-table a:hover {
  color:var(--dark-internago-blue);
}

.all-posts-list {
  list-style-type: none;
  display: inline-block;
}

.all-posts-list li {
  display: inline-block;
  margin-right: 1rem;
}


/*-------------------------BLOG POST MOBILE-------------------------*/
@media only screen and (max-width: 992px) {
  .all-posts-wrapper {
    padding: var(--small-gap) var(--big-gap);
  }
  
  .all-posts-table td{
    padding-right: 0.2rem;
    padding-bottom: var(--xs-gap);
  }
  
  .all-posts-list {
    display: block;
  }
  
  .all-posts-list li {
    display: block;
    margin-right: var(--xs-gap);
  }
}


/*------------------------------------------------------BLOG POST------------------------------------------------------*/
.blogpost-parent {
  display: flex;
  padding-top: 5.5rem;
}

.blogpost {
  margin: 0 var(--big-gap) var(--medium-gap);
  padding-top: var(--medium-gap);
  width: 75%;
}

.blogpost h2 {
  margin-bottom: 0.8rem;
}

.taglist{
  height: 21px;
  display: inline-block;
  list-style: none;
  margin-left: var(--xs-gap);
}

.taglist li{
  display: inline-block;
  margin-right: var(--xs-gap);
}

.blogpost .img-wrapper {
  width: 100%;
  overflow: hidden;
  max-height: 30rem;
  background-color: var(--dark-internago-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogpost img {
  width: 100%;
}

.blogpost h4,
.blogpost div {
  margin-bottom: 1rem;
}

.blogpost h5,
.blogpost p,
.blogpost li {
  margin-bottom: 1rem;
}

.blogpost h4,
.blogpost h5 {
  margin-top: 2.6rem;
}

.blogpost p,
.blogpost li {
  color: var(--dark-grey);
  font-size: var(--fontSize-1);
  list-style-position: inside;
}

.blogpost a{
  text-decoration: none;
  color: var(--light-internago-blue)
}

.blogpost a:hover{
  color: var(--dark-internago-blue)
}

.blog-text{
  margin-bottom: var(--medium-gap);
}

.blogpost .go-back {
  text-decoration: none;
  color: var(--dark-internago-blue);
  font-weight: 600;
  padding-top: var(--medium-gap);
}

.blogpost .go-back:hover {
  color:var(--light-internago-blue);
}

.sidebar {
  border-left: 2px solid var(--dark-internago-blue);
  width: 25%;
}

.sidebar-about {
  padding: var(--small-gap);
  color: var(--white);
  background-color: var(--dark-internago-blue);
  text-align: center;
}

.sidebar-about h3 {
  margin-bottom: var(--xs-gap);
  color: var(--white);
}

.sidebar-about p {
  color: var(--white);
}

.sidebar-recent, .sidebar-categories {
  padding: var(--small-gap) var(--small-gap) var(--xs-gap);
}

.sidebar-recent h3, .sidebar-categories h3{
  color: var(--dark-grey);
}

.recent-ul {
  list-style: none;
}

.recent-li a, .categories-li a{
  margin-top: var(--small-gap);
  list-style: none;
  color: var(--light-internago-blue);
  text-decoration: none;
}

.recent-li a:hover, .categories-li a:hover{
  color: var(--dark-internago-blue);
}

.recent-li , .categories-li {
  margin-top: var(--xs-gap);
}

.categories-ul {
  list-style: none;
}

.mobile-about {
  display: none;
}

/*-------------------------BLOG POST TABLET-------------------------*/
@media only screen and (max-width: 992px) {
  .sidebar {
    display: none;
  }

  .mobile-about {
    display: inline-block;
    margin-top: var(--medium-gap);
    padding: var(--small-gap);
    background-color: var(--dark-internago-blue);
    border-radius: 25px;
  }

  .mobile-about h3{
    color: var(--white);
    margin-bottom: var(--xs-gap);
  }

  .mobile-about p{
    color: var(--white);
  }
}

/*-------------------------BLOG POST MOBILE-------------------------*/
@media only screen and (max-width: 600px) {
  .taglist{
    margin-left: 0;
    width: 100%;
  }
}


/*------------------------------------------------------ABOUT US PAGE------------------------------------------------------*/



/*---------------------------------------ABOUT INTERNAGO COMPONENT---------------------------------------*/

.internagoabout{
line-height: 4px;
display: inline-block;
width: 40%;
vertical-align: top;
}

.internagoaboutimg {
  display: inline-block;
width: 40%;
margin-right: var(--big-gap);
}

.internagoaboutimg p {
  line-height: 1.8;
}

.internagobelieve {
line-height: 4px;
display: inline-block;
width: 40%;
vertical-align: top;
margin-right: var(--big-gap);
margin-top: var(--medium-gap);
}

.internagobelieveimg {
display: inline-block;
width: 40%;
margin-top: var(--medium-gap);
}

.internagobelieve p {
  line-height: 1.8;

}






/*---------------------------------------FOUNDERS COMPONENT---------------------------------------*/
.founder-section {
  margin-top: var(--big-gap);
}

.founder-section h2 {
  text-align: center;
  margin-bottom: var(--medium-gap);
}

.founder-cards-wrapper {
  padding: 0 var(--big-gap) var(--big-gap);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 22rem;
  grid-gap: 6vw;
}

.founder-card {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  padding: var(--small-gap);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.founder-card .img-wrapper {
  overflow: hidden;
  height: 7rem;
  width: 100%;
  background-color: var(--light-internago-blue);
  margin-bottom: var(--xs-gap);
}

.founder-card h3 {
  color: var(--dark-grey);
  margin-bottom: 0.6rem;
}

.founder-card a {
  text-decoration: none;
  color: var(--dark-grey);
}

.founder-card a:hover {
  color: var(--light-internago-blue)
}

.founder-card .icon {
  height: 25px;
  width: 25px;
}

.founder-bottom-card {
  display: flex;
  justify-content: space-between;
}

.founder-bottom-card p {
  display: inline-block;
  font-size: var(--fontSize-2);
  margin-right: 10px;
}

/*-------------------------FOUNDERS MOBILE-------------------------*/
@media only screen and (max-width: 600px) {
  .founder-card{
    margin-bottom: var(--small-gap);
  }

  .founder-bottom-card p {
    font-size: var(--fontSize-1);
  }
}

